.imgss{
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 25px;
    color: rgb(12, 79, 143);

}

.fondNavidad{
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 45px;
    color: black;

}

.seleccion{
    font-family: 'Mouse Memoirs', sans-serif;
    text-align: center;
    font-size: 45px;
    color: black;
}