.opcionesM{
    font-size: 25px;
    font-family: 'Concert One', cursive;
}

.encabezado{
    background-color: rgb(200, 228, 200);
    background-color: rgb(101, 101, 165);
    background-color: rgb(217, 217, 235);

}

li.opcionesM2{
    font-size: 20px;
    font-family: 'Concert One', cursive;
}

li.opcion1{
    padding-left: 50px;
}

li.opcion2{
    text-align: center;
    justify-content: center;
    padding-left: 550px;
}



